.nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 4% 10%;
  box-sizing: border-box;
  background-color: rgba(245, 245, 245, 0.906);
  border-top: 1.5px solid rgb(230, 230, 230);
}
.nav__list {
  display: flex;
  justify-content: space-between;
}
.nav__btn {
  height: 10%;
  width: 10%;
}
.nav__link {
  color: #2e363e;
}
